<div class="container mt-2 " ng-init="onloadFun()">

    <div class="form-row ">

        <div class="mr-0 col-4 col-md-6 col-lg-6">

            <p class="mt-0 mb-0 text-left text-secondary"><small>search songs</small></p>

            <form class="form-inline">
                <input class="form-control col-7" type="search" placeholder="songs" aria-label="Search" ng-model="songField" ng-model-options="{ debounce: 200 }" ng-change="srchSongs()">
                <span class="ml-2 text-white oi oi-magnifying-glass"></span>
            </form>

        </div>

        <div class="ml-0 col-4 col-md-2 col-lg-3">
            <p class="mt-0 mb-0 text-left text-secondary"><small>select country</small></p>

            <select class="form-control" ng-model="countryField" ng-options="selectCountry.name for selectCountry in countryName" ng-change="srchSongs()"></select>

        </div>

        <div class="col-4 col-md-2 col-lg-2">
            <p class="mt-0 mb-0 text-left text-secondary"><small>choose limit</small></p>

            <form>

                <select class="form-control" ng-model="songLimit" ng-change="srchSongs()">
                        <option value="" selected>4</option>
                        <option value="8">8</option>
                        <option value="12">12</option>
                        <option value="16">16</option>
                </select>

            </form>

        </div>

    </div>

</div>

<div class="container mt-2 ">
    <p class="lead text-primary">Your search is:<span class="bg-primary text-white">{{songField}}</span> </p>
</div>
<div class="container" ng-include="'./directives/songBlock.html'">
</div>
<p class="lead text-white text-center ">Displaying {{slideIndex + 1}} {{" of " + totalSlides}}</p>