<div class="container">

    <div class="container">
        <form class="form-inline my-2 my-lg-0">

            <input class="form-control mr-sm-2" type="search" placeholder="search" aria-label="Search" data-ng-model="countryField">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" data-ng-click="srchCountry()">Search country</button>
            <input class="form-control mr-sm-2" type="search" placeholder="search" aria-label="Search" data-ng-model="songField">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" data-ng-click="srchSongs()">Search songs</button>
        </form>

    </div>
    <div class="row">
        <div class="col-4" ng-repeat="y in songsData">
            <div ng-style="{'background-image': 'url({{y.artworkUrl100}})'}" class="container song-wrap">
                <h4>{{y.artistName}}</h3>
                    <h5>{{y.trackName}}</h5>
            </div>

        </div>
    </div>
</div>