<div class="container mt-4" ng-init="onloadFun()">

    <form class="form-inline ">
        <input class="form-control col-3" type="search" placeholder="artists" aria-label="search" data-ng-model="artistName">
        <button class="col-1 btn btn-outline-success mt-0 mr-1 border-0 text-light" type="submit" data-ng-click="srchAlbums()"><span class="oi oi-magnifying-glass"></span></button>
    </form>

</div>
<div class="container mt-2">
    <p class="lead text-primary">Your search is: <span class="bg-primary text-white">{{artistName}}</span></p>
</div>
<div class="container mt-2">

    <div class="row">

        <div class="col flex-fill song-wrap mt-5" ng-repeat="albums in albumsData">

            <hr class="mb-2 song-space-line">

            <figure>
                <img class="img-fluid rounded" src="{{albums.artworkUrl100}}" alt="AlbumImage">
                <div class="text-wrap text-right float-right">
                    <p class="mt-1 mb-0">{{albums.collectionName}}</p>
                    <p class="mt-1 mb-0">Album price:{{albums.collectionPrice}}$</p>
                    <p class="mt-1 mb-0">Track count:{{albums.trackCount}}</p>
                    <p class="mt-1 mb-0">Release date:{{albums.releaseDate.slice(0,10)}}</p>
                </div>
                <figcaption class="figure-caption">
                    <a class="text-secondary mb-0 " ui-sref="artists" ui-sref-active="active">
                        <span class="artists-link">{{albums.artistName}}</span>
                    </a>
                </figcaption>
            </figure>

            <hr class="mt-2 song-space-line">

        </div>
    </div>
</div>