.song-wrap {
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.artists-link {
    color: rgb(0, 120, 255);
}

.artist-name-text {
    width: 180px!important;
}

.song-space-line {
    background-color: rgb(120, 120, 120);
}

.play-button {
    border: 0;
    background-color: transparent;
    color: #fff;
}

body {
    background-color: rgb(32, 33, 36)!important;
}