.song-wrap {
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.artists-link:hover {
    color: rgb(0, 120, 255);
}

.song-space-line {
    background-color: rgb(120, 120, 120);
}

body {
    background-color: rgb(40, 40, 40)!important;
}